<%= form_for(@comment, :url => patient_goal_comment_path(@patient, @goal, :comment), :html => { :class => "form-horizontal", :role => "form"}) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Name", class: 'col-xs-3 control-label'%>
    <div class="col-xs-9">
      <%= f.text_area :healthcare_professional_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Comment", class: 'col-xs-3 control-label'%>
    <div class="col-xs-9">
      <%= f.text_area :description, class: 'form-control', :rows => 2 %>
    </div>
  </div>

  <%= f.hidden_field :goal_id, :value => @goal.id %>

  <div class="actions row">
    <div class="col-xs-offset-3 col-xs-9">
      <%= f.submit "Save Comment", class: "btn btn-green btn-block" %>
    </div>
  </div>
<% end %>
