<%= form_for(@patient, :url => patients_path, :html => { :class => "form-horizontal", :role => "form"}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= f.label "Given Name", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :given_name, class: 'form-control'%>
    </div>

    <%= f.label "Preferred Name", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :preferred_name, class: 'form-control' %>
    </div>

    <%= f.label "Surname", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :surname, class: 'form-control'%>
    </div>

  </div>

  <div class="form-group">
    
    <%= f.label "Date of birth", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :dob, class: 'form-control'%>
    </div>

    <%= f.label "Health Care No.", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :health_care_number, class: 'form-control'%>
    </div>

    <div class="col-xs-4"></div>

  </div>

  <div class="form-group">
    
    <%= f.label "Telephone", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :telephone, class: 'form-control'%>
    </div>

    <%= f.label "Email", class: 'col-xs-1 control-label'%>
    <div class="col-xs-3">
      <%= f.text_field :email, class: 'form-control'%>
    </div>

    <div class="col-xs-4"></div>

  </div>

  <div class="actions row">
    <div class="col-xs-12">
      <%= f.submit "Save Patient info", class: "btn btn-green btn-block" %>
    </div>
  </div>
<% end %>
