<article class="patient">
  <p id="notice"><%= notice %></p>

  <div class="patient-header">
    <h2><%= @patient.name %></h2>
  </div>

  <div class="row patient-body">
    <div class="col-md-offset-1 col-md-10">

    <div class="box profile">
      <div class="row">
        <div class="col-xs-1">
          <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col-xs-11">
          <h4>Profile</h4>
        </div>
      </div>
      <hr>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2">
            <p>Age:</p>
          </div>
          <div class="col-xs-10">
            <p><%= @patient.age %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <p>Medical Conditions:</p>
          </div>
          <div class="col-xs-10">
            <% @patient.medical_conditions.each do |medical_condition| %>
              <span> <%= medical_condition.name %>, </span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <p>Smoker:</p>
          </div>
          <div class="col-xs-10">
            <p><%= @patient.is_a_smoker? %></p>
          </div>
        </div>

        <%= link_to "Edit info", edit_patient_path(@patient), :class=> "btn btn-purple" %>
      </div>
    </div>

    <div class="box goals">
      <div class="row">
        <div class="col-xs-1">
          <i class="fa fa-trophy fa-2x"></i>
        </div>
        <div class="col-xs-11">
          <h4>Goals</h4>
        </div>
      </div>
      <hr>
      <div class="panel-body">
      <table class="table">
        <tbody>
          <% @goals.each do |goal| %>
            <tr>
              <td class="col-xs-2"><%= MedicalCondition.find(goal.medical_condition_id).name %></td>
              <td class="col-xs-6"><%= goal.description %></td>
              <td class="col-xs-4">
                <%= link_to "View", patient_goal_path(@patient.id, goal.id), :class => "btn btn-green btn-sm" %>
                <%= link_to "Edit", edit_patient_goal_path(@patient.id, goal.id), :class => "btn btn-info btn-sm" %>
                <%= link_to 'Remove', patient_goal_path(@patient.id, goal.id), :class=>"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %> 
              </td>
            </tr>
          <% end %> 
        </tbody>
      </table>
      <%= link_to "Add new goal", new_patient_goal_path(@patient), :class => "btn btn-green" %>
      </div>
    </div>

    <div class="box devices">
      <div class="row">
        <div class="col-xs-1">
          <i class="fa fa-area-chart fa-2x"></i>
        </div>
        <div class="col-xs-11">
          <h4>Metrics/Devices</h4>
        </div>
      </div>
      <hr>
      <div class="panel-body">
          <% if @patient.fitbit_oauth_token.present? %>
            <%= image_tag("fitbit-logo.jpg", height: '20', class: "spider-branding")%>
          <% end %>
          <span class="metric">AsthmaAPP®</span><span class="metric">ObesityAPP®</span><span class="metric">DiabetesAPP®</span>
        <br><br>
        <%= link_to "Add/remove devices", patient_devices_path(@patient), :class => "btn btn-orange" %>
      </div>
    </div>

    <br><br>

  </div>



</article>




