<div class="login-background">
  <div class="login-panel">
    <div class="credentials">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
      
        <%= f.email_field :email, :placeholder => "Email", autofocus: true, class: "u-spacer20" %>

        <%= f.password_field :password, :placeholder => "Password", autocomplete: "off", class: "u-spacer20"%>

      <% if devise_mapping.rememberable? -%>
        <div class="field checkselect u-spacer20">
          <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "customCheckbox" %>
        </div>
      <% end %>
    </div>
    <div class="sign-in">
      <%= f.submit "Sign in", :class=>"btn button"  %>
    </div>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
  </div>
</div>
