<article class="goal">
  <p id="notice"><%= notice %></p>

  <div class="row text-center goal-header">
    <div class="col-xs-1">
      <i class="fa fa-trophy fa-3x"></i>
    </div>
    <div class="col-xs-offset-1 col-xs-8">
      <h2>Goal: <%=@goal.description%></h2>
    </div>
    <div class="col-xs-2">
      <%= link_to "Edit goal", edit_patient_goal_path(@patient, @goal), :class => "btn btn-green" %>
    </div>
  </div><hr>

  <div class="goal-body">
    <div class="col-md-offset-1 col-md-10">
      

      <div class="goal-questions">
        <div class="row">
          <div class="col-xs-3">
            <label>What I hope to achieve</label>
          </div>
          <div class="col-xs-9">
            <%= @goal.question_1 %>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-xs-3">
            <label>What we can do to achieve it</label>
          </div>
          <div class="col-xs-9">
            <%= @goal.question_2 %>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-xs-3">
            <label>Who will be responsible</label>
          </div>
          <div class="col-xs-9">
            <%= @goal.question_3 %>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-xs-3">
            <label>Barriers and challenges</label>
          </div>
          <div class="col-xs-9">
            <%= @goal.question_4 %>
          </div>
        </div>
      </div><br>

      <div class="row">
        <% if @goal.fitbit_steps = true %> 
          <div class="col-md-3 metric-box text-center">
            <h5>Steps (this week)</h5>
            <div class="metric">
              <% if @fitbit.first.steps_2 > @fitbit.first.steps_1 %> 
                <div class="green">
                  <%= @fitbit.first.steps_2 %> 
                </div>
              <% else %>
                <div class="red">
                  <%= @fitbit.first.steps_2 %> 
                </div>
              <% end %> 
            </div>
            <p>Last week: <%= @fitbit.first.steps_1 %> </p>
          </div>
        <% end %> 

        <% if @goal.fitbit_lightlyActiveMinutes = true %> 
          <div class="col-md-3 metric-box text-center">
            <h5>Light Active Minutes (this week)</h5>
            <div class="metric">
              <% if @fitbit.first.lightlyActiveMinute_2 > @fitbit.first.lightlyActiveMinutes_1 %> 
                <div class="green">
                  <%= @fitbit.first.lightlyActiveMinute_2 %> 
                </div>
              <% else %>
                <div class="red">
                  <%= @fitbit.first.lightlyActiveMinute_2 %> 
                </div>
              <% end %> 
            </div>
            <p>Last week: <%= @fitbit.first.lightlyActiveMinutes_1 %> </p>
          </div>
        <% end %> 

        <% if @goal.fitbit_fairlyActiveMinutes = true %> 
          <div class="col-md-3 metric-box text-center">
            <h5>Fairly Active Minutes (this week)</h5>
            <div class="metric">
              <% if @fitbit.first.fairlyActiveMinutes_2 > @fitbit.first.fairlyActiveMinutes_1 %> 
                <div class="green">
                  <%= @fitbit.first.fairlyActiveMinutes_2 %> 
                </div>
              <% else %>
                <div class="red">
                  <%= @fitbit.first.fairlyActiveMinutes_2 %> 
                </div>
              <% end %> 
            </div>
            <p>Last week: <%= @fitbit.first.fairlyActiveMinutes_1 %> </p>
          </div>
        <% end %> 
      </div><br>

      <div class="row">

        <% if @goal.fitbit_veryActiveMinutes = true %> 
          <div class="col-md-3 metric-box text-center">
            <h5>Very Active Minutes (this week)</h5>
            <div class="metric">
              <% if @fitbit.first.veryActiveMinute_2 > @fitbit.first.veryActiveMinute_1 %> 
                <div class="green">
                  <%= @fitbit.first.veryActiveMinute_2 %> 
                </div>
              <% else %>
                <div class="red">
                  <%= @fitbit.first.veryActiveMinute_2 %> 
                </div>
              <% end %> 
            </div>
            <p>Last week: <%= @fitbit.first.veryActiveMinute_1 %> </p>
          </div>
        <% end %> 
      </div>


<!--       <div class="comments">
        <h4>Comments</h4>

        <table class="table comment-table">
          <tbody>
            <% @goal.comments.each do |comment| %>
              <tr>
                <td><%= comment.name %></td>
                <td><%= comment.role  %></td>
                <td><%= comment.description %></td>
                <td><%= comment.date %></td>
              </tr>
            <% end %> 
          </tbody>
        </table>

        <%= link_to 'Add Comment', new_patient_goal_comment_path(@patient, @goal), :class=>"btn btn-green" %>

      </div> -->


    </div>

    <div class="questionnaire row">
      <div class="col-md-offset-1 col-md-10">
        <div class="text-right">
          <%= link_to 'Back', patient_path(@patient), :class => "btn btn-default" %>
        </div>
      </div>
      
    </div>
  </div>




  <!-- Goal description -->


</article>